:host {
    --vc-background: var(--ha-card-background, var(--card-background-color, white));
    --vc-primary-select-background: color-mix(in srgb, var(--primary-color) 40%, var(--vc-background));

    cursor: pointer;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 40px;
    border-radius: 8px;
    background-color: var(--vc-primary-select-background);
    border: 1px solid var(--vc-primary-select-background);
}
