:host {
    --vc-background: var(--ha-card-background, var(--card-background-color, white));
    --vc-primary-select-background: color-mix(in srgb, var(--primary-color) 15%, var(--vc-background));
}

.multiselect-button {
    display: flex;
    line-height: 24px;
    padding: 8px 16px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 8px;

    &.active {
        background-color: var(--vc-primary-select-background);
    }

    .text {
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }
}