:host {
    --vc-background: var(--ha-card-background, var(--card-background-color, white));
    --vc-primary-select-background: color-mix(in srgb, var(--primary-color) 40%, var(--vc-background));
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.multiselect-button {
    display: flex;
    line-height: 24px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid var(--vc-primary-select-background);

    &.active {
        background-color: var(--vc-primary-select-background);
        border-color: var(--vc-primary-select-background);
    }

    .text {
        margin-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex: 1;
    }
}
